h2{
    font-family: 'Bungee', cursive;
    font-weight: bold;
    color: black;
    font-size:70px;
}

a{
    font-family: 'Bungee', cursive;
}

body{
    margin:0;
    padding:0;
    background: url(https://lh3.googleusercontent.com/hrN5XNElYMaHlaCey3yHGfRMCxWJ_L9UjmE_lkV1BABqaOFv4F8ADvEHzMLiLVU33RyPSgzBS2uE=w1920-h1080-rw-no);
    background-size: 80px 60px;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Bungee', cursive;
    font-weight: bold;
    color: black;
}

#layupnav{
    font-family: 'Bungee', cursive;
    font-weight: bold;
    }

#jumbomsg{
    font-family: 'Bungee', cursive;
    font-weight: thin;

}
#bdy{
    background: url(https://lh3.googleusercontent.com/hrN5XNElYMaHlaCey3yHGfRMCxWJ_L9UjmE_lkV1BABqaOFv4F8ADvEHzMLiLVU33RyPSgzBS2uE=w1920-h1080-rw-no);
    background-size: 80px 60px;
    background-repeat: no-repeat;

}